.header-login-signip{
	position: sticky;
	top: 0;
}
.header-limiter{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	padding: 0 70px;
}

.nav-cont{
	display: flex;
	align-items: center
}

.nav-link{
	margin: 0 10px;
	text-decoration: none;
	color: white;
}

.header-login-signip{
	background-color: #1ebea5;
}

.header-logo{
	height: 50px;
}

.nav{
	display: flex;
	margin-left: 100px;
}

.auth-link{
	text-decoration: none;
	color: white;
	margin: 0 20px;
}